/* Timothy Ross */
body {
	background-color: pink;
}

h1 {
	color: DarkGreen;
	font-family: "Lucida Console";
	text-align: center;
	font-size: 36px;
}

p {
	color: black;
	font-family: "Lucida Console";
	font-size: 20px;
}