/* Timothy Ross */
body {
	background-color: #1F0F2D;
}

h1 {
	color: white;
	font-family: "Lucida Console";
	text-align: center;
	font-size: 36px;
}

p {
	color: #D4EFD0;
	font-family: "Lucida Console";
	font-size: 20px;
}